.stretched-link__blog_post {
    color: #112d5f;
}
.breadcrumb__list {
    font-size: 1.2rem;
}
body {
    font-family: "public-sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    background: white;
}
.post-body h2, h3, h4 {
    font-weight: 700;
    font-size: 1.3rem;
}
.navbar-brand a, .navbar-brand a:visited {
    text-decoration: none;
    color: inherit;
}
.navbar-brand a:hover {
    color: lightslategray;
}

.pagination a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #112d5f;
    z-index: 1;
}

.pagination a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .07em;
    height: .1em;
    width: 100%;
    background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
    z-index: -1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
}


.post-body  p {
    width: 100%;
}

blockquote {
    font-family: "Sorts Mill Goudy", serif;
    color: cadetblue;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}
header {
    background: "purple";
    marginBottom: "2rem";
}

figcaption {
    text-align: center;
    font-weight: bold;
    color: #120d1a;
    padding-top: 10px;
    font-size: 1.2rem;
}
.bg-pastel {
    background: #9cc2cb24;
    padding: 1rem;
}
.carousel-caption h3 {
    color: white;
    background: black;

    padding: 10px;
}

nav.pagination {
    display: flex;
    justify-content: space-between;
}
.fullscreen {
    height: 100vh; width: 100vw; object-fit: cover; object-position: center; }
[data-aos] {
    pointer-events: none;
}
.aos-animate {
    pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
}
.object-heading h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #112d5f;
}
.bg-pale {
    background: #f5f3f0;
}
.text-gradient {
    color: #2531b0;
    background-image: -webkit-linear-gradient(0deg, #2531b0 0%, #03a9f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}
.bg-grad {
    background: rgb(159,205,205);
    background: linear-gradient(0deg, rgba(159,205,205,0.8337710084033614) 0%, rgba(86,192,198,1) 100%);
}
span.ais-RefinementList-labelText { margin-left: 10px!important; }
.square {
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 150px;
}